.DS_Store
.Rhistory

*.pyc
*.json
*.xls
*.xlsx
*.boto
*.conf
.Dataset/*.json
.Dataset/archive/*.json
.Dataset/archive/*.txt

.url_output/archive/*.json
.url_output/archive/*.txt

src/
venv/*
venv/
env/
